{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}
    <h1 style="color:powderblue;"> ADD CREDITS</h1>
    <form action="/credits" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="code" 
            name="code" placeholder="Code" type="text" onkeyup="lettersOnly(this)" >
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">ADD Credits</button>
        </div>
    </form>

    
{% endblock %}
